<?xml version="1.0" encoding="UTF-8"?>
<suite name="OrangeHRMSuite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="com.orangehrm.listeners.TestListener"></listener>
	</listeners>
	<test name="OrangeHRMTest">
		<classes>
			<class name="com.orangehrm.test.DummyClass"></class>
			<class name="com.orangehrm.test.DummyClass2"></class>
			<class name="com.orangehrm.test.HomePageTest"></class>
			<class name="com.orangehrm.test.LoginPageTest"></class>
		</classes>
	</test>
</suite>